In [13]:
import pandas as pd

data = pd.read_csv('../DATA/바웰공정데이터.csv')
data.head()

,time,E_scr_pv,E_scr_sv,c_temp_pv,c_temp_sv,k_rpm_pv,k_rpm_sv,n_temp_pv,n_temp_sv,scale_pv,s_temp_pv,s_temp_sv
0,2023-05-18T15:09:19.018900Z,8,8,69.6,70,189,180,67.2,70,3.01,67.1,70
1,2023-05-18T15:09:20.128150Z,8,8,69.8,70,189,180,67.2,70,3.01,67.0,70
2,2023-05-18T15:12:38.819460Z,8,8,69.7,70,189,180,67.9,70,3.08,65.9,70
3,2023-05-18T15:12:39.958188Z,8,8,69.7,70,189,180,67.8,70,3.08,65.9,70
4,2023-05-18T15:12:41.050178Z,8,8,69.7,70,189,180,67.8,70,3.08,65.9,70

In [14]:
# E_scr_pv = 7 일때 describe
data[data['E_scr_pv'] == 7].describe()

,E_scr_pv,E_scr_sv,c_temp_pv,c_temp_sv,k_rpm_pv,k_rpm_sv,n_temp_pv,n_temp_sv,scale_pv,s_temp_pv,s_temp_sv
count,526.0,526.0,526.000000,526.0,526.00000,526.0,526.000000,526.0,526.000000,526.000000,526.0
mean,7.0,7.0,70.223384,70.0,162.56654,150.0,67.801521,70.0,3.023004,67.528707,70.0
std,0.0,0.0,0.328814,0.0,3.57589,0.0,1.107497,0.0,0.185217,1.168227,0.0
min,7.0,7.0,69.700000,70.0,154.00000,150.0,66.400000,70.0,0.100000,65.700000,70.0
25%,7.0,7.0,70.000000,70.0,159.00000,150.0,67.000000,70.0,3.010000,66.700000,70.0
50%,7.0,7.0,70.200000,70.0,165.00000,150.0,67.400000,70.0,3.030000,67.500000,70.0
75%,7.0,7.0,70.500000,70.0,165.00000,150.0,68.200000,70.0,3.070000,68.200000,70.0
max,7.0,7.0,71.000000,70.0,169.00000,150.0,70.800000,70.0,3.130000,70.800000,70.0

In [15]:
# E_scr_pv = 7 일 때 describe
data[data['E_scr_pv'] == 12].describe()

,E_scr_pv,E_scr_sv,c_temp_pv,c_temp_sv,k_rpm_pv,k_rpm_sv,n_temp_pv,n_temp_sv,scale_pv,s_temp_pv,s_temp_sv
count,48.0,48.0,48.000000,48.0,48.00000,48.0,48.000000,48.0,48.000000,48.000000,48.0
mean,12.0,12.0,71.150000,70.0,141.56250,130.0,59.970833,0.0,3.938125,68.447917,70.0
std,0.0,0.0,1.058903,0.0,10.35314,0.0,2.923053,0.0,0.147066,1.190206,0.0
min,12.0,12.0,70.100000,70.0,117.00000,130.0,57.700000,0.0,3.590000,67.100000,70.0
25%,12.0,12.0,70.200000,70.0,140.00000,130.0,57.900000,0.0,3.850000,67.475000,70.0
50%,12.0,12.0,70.500000,70.0,147.50000,130.0,58.000000,0.0,4.030000,68.000000,70.0
75%,12.0,12.0,72.700000,70.0,150.00000,130.0,64.300000,0.0,4.040000,69.900000,70.0
max,12.0,12.0,72.800000,70.0,150.00000,130.0,64.800000,0.0,4.070000,70.600000,70.0

In [16]:
# scale이 2에서 4 사이인 데이터의 describe
data[(data['scale_pv'] >= 2) & (data['scale_pv'] <= 4)].describe()

,E_scr_pv,E_scr_sv,c_temp_pv,c_temp_sv,k_rpm_pv,k_rpm_sv,n_temp_pv,n_temp_sv,scale_pv,s_temp_pv,s_temp_sv
count,28142.000000,28142.000000,28142.000000,28142.0,28142.000000,28142.000000,28142.000000,28142.000000,28142.000000,28142.000000,28142.0
mean,7.979106,7.984507,70.367842,70.0,179.843579,174.023524,67.604268,69.945278,3.042518,67.412394,70.0
std,0.271852,0.175752,0.469905,0.0,9.423576,11.394251,0.950023,1.956455,0.047564,1.126463,0.0
min,0.000000,7.000000,68.800000,70.0,0.000000,130.000000,57.700000,0.000000,2.000000,65.500000,70.0
25%,8.000000,8.000000,70.100000,70.0,176.000000,180.000000,67.000000,70.000000,3.020000,66.500000,70.0
50%,8.000000,8.000000,70.400000,70.0,180.000000,180.000000,67.300000,70.000000,3.040000,67.300000,70.0
75%,8.000000,8.000000,70.700000,70.0,186.000000,180.000000,67.900000,70.000000,3.060000,68.200000,70.0
max,12.000000,12.000000,72.800000,70.0,196.000000,180.000000,71.100000,70.000000,4.000000,71.500000,70.0

In [17]:
# timedelta import 
from datetime import timedelta

In [19]:
# 10초 내 0값이 있을 때 뒤 값으로 복원

data1 = data.copy()

data1['time'] = pd.to_datetime(data1['time'])

for idx, row in data1.iterrows():
    if 2 <= row['scale_pv'] <= 4:
        target_time6 = row['time'] - timedelta(seconds=10)
        mask = (data1['time'] <= row['time']) & (data1['time'] >= target_time6)
        previous_rows = data1[mask]
        
        if len(previous_rows) > 1:
            previous_row = previous_rows.iloc[-2]  # 조건을 만족하는 가장 마지막에서 두 번째 행
            if previous_row['scale_pv'] <= 1:
                # 조건을 만족하는 모든 행의 scale_pv 값을 패딩
                for i in range(len(previous_rows)):
                    if previous_rows.iloc[i]['scale_pv'] <= 1:
                        data1.loc[previous_rows.index[i], 'scale_pv'] = row['scale_pv']
data1_2to4 = data1[data1.scale_pv.between(2,4)]
data1_2to4

,time,E_scr_pv,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv
0,2023-05-18 15:09:19.018900+00:00,8,69.6,189,67.2,3.01,67.1
1,2023-05-18 15:09:20.128150+00:00,8,69.8,189,67.2,3.01,67.0
2,2023-05-18 15:12:38.819460+00:00,8,69.7,189,67.9,3.08,65.9
3,2023-05-18 15:12:39.958188+00:00,8,69.7,189,67.8,3.08,65.9
4,2023-05-18 15:12:41.050178+00:00,8,69.7,189,67.8,3.08,65.9
...,...,...,...,...,...,...,...
143078,2023-09-08 07:30:58.197120+00:00,8,70.3,185,66.7,3.01,67.7
143081,2023-09-08 07:31:01.302298+00:00,8,70.4,185,66.8,3.03,67.3
143082,2023-09-08 07:31:02.368971+00:00,8,70.4,185,66.7,3.03,67.2
143086,2023-09-08 07:31:06.492990+00:00,8,70.4,185,66.7,3.06,66.9
143090,2023-09-08 07:31:10.649393+00:00,8,70.3,185,66.7,3.05,66.5

In [18]:
# 2. Preprocessing : 목요일까지의 전처리
# (1) 2 < scale_pv < 4
data = data[(data['scale_pv'] > 2) & (data['scale_pv'] < 4)]

# (2) k_rpm_pv 가 100 이하인 행 제거
data = data[data['k_rpm_pv'] > 100]

# (3) n_temp_sv=0 인 행 제거
data = data[data['n_temp_sv'] != 0]

# (4) 컬럼 제거 : E_scr_sv, c_temp_sv, n_temp_sv, s_temp_sv, k_rpm_sv, time
data = data.drop(['E_scr_sv', 'c_temp_sv', 'n_temp_sv', 's_temp_sv', "k_rpm_sv"], axis=1)